<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuchuanzheng.skillcollection">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.MainActivity"/>
        <activity android:name=".ui.activitys.instruction_1.LoggerTestActivity"/>
        <activity android:name=".ui.activitys.instruction_1.AnimationTestActivity"/>
        <activity android:name=".ui.activitys.instruction_1.CoordinatorLayoutTestActivity"/>
        <activity android:name=".ui.activitys.instruction_1.SlideLayoutTestActivity"/>
        <activity android:name=".ui.activitys.instruction_1.SmartRefreshLayoutTestActivity"/>
        <activity android:name=".ui.activitys.instruction_1.SwipeRefreshLayoutTestActivity"/>
        <activity android:name=".ui.activitys.real_2.RealTestLoggerActivity"/>
        <activity android:name=".ui.activitys.real_2.RealTestAnimation0Activity"/>
        <activity android:name=".ui.activitys.real_2.RealTestCoordinatorLayoutActivity"/>
        <activity android:name=".ui.activitys.real_2.RealTestSlideLayoutActivity"/>
        <activity android:name=".ui.activitys.real_2.RealTestSmartRefreshLayoutActivity"/>
        <activity android:name=".ui.activitys.real_2.RealTestSwipeRefreshLayoutActivity"/>
        <activity android:name=".ui.activitys.real_2.real_2_2.CoordinatorActivity_2_2"/>
        <activity android:name=".ui.activitys.real_2.real_2_2.CoordinatorActivity_2_2_AppBar"/>
        <activity android:name=".ui.activitys.instruction_1.EventBusTestActivity"/>
        <activity android:name=".ui.activitys.real_2.real_2_2.RealTestEventBusActivity_Subscriber"/>
        <activity android:name=".ui.activitys.real_2.real_2_2.RealTestEventBusActivity_Publisher"/>
        <activity android:name=".ui.activitys.notifycation_7.Notifycation_Instruction_Activity"/>
        <activity android:name=".ui.activitys.notifycation_7.Notifycation_real1_Activity"/>

    </application>

</manifest>