<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuchuanzheng.skillcollection">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.MainActivity"/>
        <activity android:name=".ui.activitys.logger_1.LoggerTestActivity"/>
        <activity android:name=".ui.activitys.animation_2.AnimationTestActivity"/>
        <activity android:name=".ui.activitys.coordinatorlayout_6.CoordinatorLayoutTestActivity"/>
        <activity android:name=".ui.activitys.slidelayout_4.SlideLayoutTestActivity"/>
        <activity android:name=".ui.activitys.smartrefreshlayout_5.SmartRefreshLayoutTestActivity"/>
        <activity android:name=".ui.activitys.swiperefreshlayout_3.SwipeRefreshLayoutTestActivity"/>
        <activity android:name=".ui.activitys.logger_1.RealTestLoggerActivity"/>
        <activity android:name=".ui.activitys.animation_2.RealTestAnimation0Activity"/>
        <activity android:name=".ui.activitys.coordinatorlayout_6.RealTestCoordinatorLayoutActivity"/>
        <activity android:name=".ui.activitys.slidelayout_4.RealTestSlideLayoutActivity"/>
        <activity android:name=".ui.activitys.smartrefreshlayout_5.RealTestSmartRefreshLayoutActivity"/>
        <activity android:name=".ui.activitys.swiperefreshlayout_3.RealTestSwipeRefreshLayoutActivity"/>
        <activity android:name=".ui.activitys.coordinatorlayout_6.CoordinatorActivity_2_2"/>
        <activity android:name=".ui.activitys.coordinatorlayout_6.CoordinatorActivity_2_2_AppBar"/>
        <activity android:name=".ui.activitys.eventbus_7.EventBusTestActivity"/>
        <activity android:name=".ui.activitys.eventbus_7.RealTestEventBusActivity_Subscriber"/>
        <activity android:name=".ui.activitys.eventbus_7.RealTestEventBusActivity_Publisher"/>
        <activity android:name=".ui.activitys.notifycation_8.Notifycation_Instruction_Activity"/>
        <activity android:name=".ui.activitys.notifycation_8.Notifycation_real1_Activity"/>
        <activity android:name=".ui.activitys.coordinatorlayout_6.CoordinatorActivity_2_2_ViewPager" />

    </application>

</manifest>